.Container {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.Container > h2 {
  color: black;
  font-family: "Encode Sans", sans-serif;
  text-align: center;
}

.Info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: start;
  margin-bottom: 50px;
}

.Info > h3 {
  color: black;
  font-family: "Encode Sans", sans-serif;
}

.Info > p {
  color: black;
  font-family: "Encode Sans", sans-serif;
}
