

.LinkedIn {
    display: flex;
    color: white;
}

.Email {
    display: flex;
    color: white;
}

.GitHub {
    display: flex;
    color: white;
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #122038;
    height: 95px;
}

.Footer > div {
    margin: 0 25px;
}