.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
}

.Footitem {
  margin: 25px 25px;
}

.Footitem {
  display: flex;
  color: black;
}

.Footitem:hover {
  color: aquamarine;
}

.Pagebreak {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-top: 2px solid black;
}
