.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

@media (min-width: 530px) {
  .Links {
    list-style-type: none;
    display: inline-flex;
    margin: 5px 5px;
    padding: 7.5px 7.5px;
  }

  .nameLogo {
    padding: 7.5px 7.5px;
    display: flex;
  }

  .nameLogo > a {
    padding: 7.5px 7.5px;
    color: black;
    font-size: 20px;
    font-family: "Encode Sans", sans-serif;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 5px 5px;
    transition: 0.25s;
  }

  .nameLogo > a:hover {
    color: white;
    background-color: #161616f0;
  }

  .Hamburger {
    display: none;
  }

  .justLogo {
    display: none;
  }
}

@media (max-width: 529px) {
  .Hamburger {
    display: flex;
    color: black;
    font-size: 35px;
    margin: 7.5px 7.5px;
    padding: 5px 5px;
  }

  .justLogo {
    font-size: 35px;
    padding: 5px 5px;
    margin: 7.5px 7.5px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: black;
    transition: 0.25s;
  }

  .justLogo:hover {
    color: white;
    background-color: #161616f0;
  }

  .Links {
    display: none;
  }

  .nameLogo {
    display: none;
  }
}

.Navitem > a {
  padding: 10px 10px;
  color: black;
  font-size: 1.125em;
  font-family: "Encode Sans", sans-serif;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0 10px;
  transition: 0.25s;
}

.Navitem > a:hover {
  color: white;
  background-color: #161616f0;
}
