.Viewer {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.frame {
  width: 75%;
  height: 850px;
  margin: 0 225px;
  border: black solid 2px;
}

.frame > #document {
  width: 100px;
}
