.Skills {
  display: flex;
  margin: auto;
  justify-content: center;
  border-top: 2px solid black;
  width: 80%;
}

@media (max-width: 899px) {
  .Grid {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    row-gap: 30px;
    justify-items: center;
    margin: 75px auto;
  }
}

@media (min-width: 900px) {
  .Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin: 75px auto 100px auto;
    align-content: center;
    column-gap: 50px;
    row-gap: 50px;
  }

  .Header {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .c_cpp {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-bottom: 20px;
  }

  .java {
    margin-bottom: 20px;
  }
}

.Header {
  display: flex;
  height: 75px;
  align-items: center;
}

.c_cpp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.java {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c_cpp > i {
  color: black;
}

.c_cpp > p {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0;
}

.chip > p {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0;
  width: 200px;
}

.java > i {
  color: black;
}

.java > p {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0;
}

.Header > h1 {
  color: black;
  font-family: "Encode Sans", sans-serif;
  font-size: 50px;
  font-weight: 100;
}
